YO {% extends "layout.html" %}

{% block main %}

    <h1>Generate Workout</h1>
    <br>
    <form action="/quote" method="post">
        

    <select name="primary" >
    {% for branch in branches %} 
            <option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
     {% endfor %}
        </select>
    <select name="secondary">
    {% for branch in branches %} 
            <option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
     {% endfor %}
        </select>
    
<br>
    <div>Equpment 1:
    {% for equipment in equipments %}
    <input type="radio" id="{{  equipment.eq_id  }}" name="equipment" value="{{  equipment.eq_id  }}" >
    <label for="{{  equipment.eq_id  }}">{{  equipment.eq_type  }} </label>
    {% endfor %}
    <br>
    Equipment 2 (optional):
    {% for equipment in equipments %}
    <input type="radio" id="{{  equipment.eq_id  }}" name="equipment2" value="{{  equipment.eq_id  }}" >
    <label for="{{  equipment.eq_id  }}">{{  equipment.eq_type  }} </label>
    {% endfor %}
</div>
    <button type="submit">Submit</button>
            

    </form>

{% endblock %}



