/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #10141a;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
tr {
    text-align: center;
}
tr:hover {background-color: #D6EEEE;}
li {


    text-align: center;
}
main {

    background-color: azure;

}

input[type=text] {
    width: 15%;
    padding: 12px 28px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  select {
    width: 10%;
    height: 25px;
    border: 2px solid rgb(228, 219, 219);
    border-radius: 4px;
    background-color: #bfc0c0;
    
  }
input[type=radio]{
    width: 1%;
    font-size: 20px;
    padding: 16px 20px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #c4d9db

}
.button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
  }
