YO {% extends "layout.html" %}

{% block main %}

    <h1>Add Comment</h1>
    <br>
    <form action="/admin" method="post">
        

    <select name="primary" id="primary" >
    {% for exercise in exercises %} 
            <option value="{{ exercise.ex_id}}">{{ exercise.ex_name }}</option>
     {% endfor %}
        </select>
    <input type="text" name="secondary" placeholder ="Insert comment">
    <br>
</div>
<button type="submit">Submit</button>
        
</form>

    <h1>Add exercise</h1><br>
    <form action="/admin" method="post">
        
        <input type="text" name="name" autofocus placeholder="Workout Title">
        <input type="text" name="comment" autofocus placeholder="Initial comment(optional)">
        <select name="branch" >
            {% for branch in branches %} 
                    <option value="{{ branch.branch_id }}">{{ branch.branch_name }}</option>
             {% endfor %}
            </select>
            <input type="text" name="image" autofocus placeholder="image ">
            <div>    
        {% for equipment in equipments %}
        <input type="radio" id="{{  equipment.eq_id  }}" name="equip" value="{{  equipment.eq_id  }}" >
        <label for="{{  equipment.eq_id  }}">{{  equipment.eq_type  }} </label>
        {% endfor %}
        </div>
        <button type="submit">Submit</button> <br><br>
        
    </form>
    
        <h2> Remove Exercise</h2>
<form action="/admin" method="post">
    <select name="remove" id="remove" >
        {% for exercise in exercises %} 
                <option value="{{ exercise.ex_id}}">{{ exercise.ex_name }}  ID={{ exercise.ex_id }}</option>
         {% endfor %}
            </select>
            <button type="submit">REMOVE</button><br><br>
    


    </form>
    <br>
    <h2>Remove user</h2>
    <br>
    <form action="/admin" method="post">
        <select name="remove_user" id="remove_user" >
            {% for user in users %} 
                    <option value="{{ user.id}}">{{ user.username }}  ID={{ user.id }}</option>
             {% endfor %}
                </select>
                <button type="submit">REMOVE</button><br><br>
        
    
    
        </form>

    
        



{% endblock %}



