{% extends "layout.html" %}

{% block main %}
<table class="table">
<thead>
            <tr>
                <th class ="text-start">Overhead Press</th>
                <th class ="text-start">Deadlift</th>
                <th class ="text-end">Bench</th>
                <th class ="text-end">Squat</th>
                <th class ="text-end">Row</th>

            </tr>
    </thead>
    {% for transaction in transactions %}
        <tbody>
            <tr>
                <td class="text-start">{{ transaction.stock_id }}</td>
                <td class="text-start">{{ transaction.shares}}</td>
                <td class="text-end">{{ transaction.stock_price }}</td>
                <td class="text-end">{{ transaction.type}}</td>
                <td class="text-end">{{ transaction.time}}</td>
            </tr>
       </tbody>
       {% endfor %}
</table>




{% endblock %}