YO {% extends "layout.html" %}

{% block main %}

    <h1>Generate Workout</h1>
    <br>
    <form action="/quote" method="post">
        

    <select name="primary">
    {% for branch in branches %} 
            <option value="{{ branch.branch_name }}">{{ branch.branch_name }}</option>
     {% endfor %}
        </select>
    <select name="secondary">
    {% for branch in branches %} 
            <option value="{{ branch.branch_name }}">{{ branch.branch_name }}</option>
     {% endfor %}
        </select>
    
<br>
    {% for equipment in equipments %}
    <input type="checkbox" id="{{  equipment.eq_id  }}" name="equipment" value="{{  equipment.eq_type  }}">
    <label for="{{  equipment.eq_id  }}">{{  equipment.eq_type  }} </label>
    {% endfor %}
    
    <button type="submit">Submit</button>
            

    </form>

{% endblock %}



