{% extends "layout.html" %}

{% block main %}
    
   <table>
            {% for exercise in exercises %}
            <tr>
            
            <td>
                {{ exercise.ex_name }}
            </td>
             <td>
            <ul>
               <li>{{ exercise.comment}}</li>
            </ul>             
            </td>
             <td>
               <img src="{{ url_for('static', filename= 'images/' + exercise.ex_img)}} " alt ="{{exercise.ex_name}}" width = 500>
             </td>
                {% endfor %}
               
            </tr>
        </table>
        
       
        
        
        
{% endblock %}