{% extends "layout.html" %}

{% block main %}
    <p>
        <table>
            {% for exercise in exercises %}
            <tr>
            
            <td>
                {{ exercise.ex_name }}
             </td>
                       
             <tr>
                    
                {% for comment in comments %}
                    {% for elem in comment %}
                    {{ elem }}
                    {% endfor %}
                {% endfor %}

                </tr>
        
            </td>
                {% endfor %}
               
        </tr>
        </table>
        <p></p>
        
        
        </p>
{% endblock %}