{% extends "layout.html" %}

{% block main %}


<h1> Favorite exercise</h1>
<form action="/fav" method="post">
        

    <select name="fav" id="fav" >
    {% for exercise in exercises %} 
            <option value="{{ exercise.ex_id}}">{{ exercise.ex_name }}</option>
     {% endfor %}
        </select>
        <button type="submit" >Submit</button>
 </form>
<div>
    <h1>List of favorites</h1>
    <table>
        {% for fav in favs %}
        <tr>
        
        <td>
            {{ fav.ex_name }}
        </td>
         <td>
        <ul>
           <li>{{ fav.comment}}</li>
        </ul>             
        </td>
         <td>
           <img src="{{ url_for('static', filename= 'images/' + fav.ex_img)}} " alt ="{{fav.ex_name}}" width = 500>
         </td>
         <td>
            <form action="/fav" method="post">
                
                        <button type="submit">REMOVE</button><br><br>
                
            
            
                </form>
         </td>
            {% endfor %}
           
        </tr>
    </table>
    
   
</div>
{% endblock %}

